
{% load static %}

{% block content %}
{% endblock content %}
<html>
<head>
  
     <link rel="stylesheet"  href="{% static 'css/categoris.css' %}">
</head>

<body> 
  <nav class="vertical">
    <ul>
      <li><a href="/templates/parts/Pc">Pc +</a>
        <ul>
          <li><a href="/templates/parts/Pc/Lenovo">Lenovo</a></li>
          <li><a href="/templates/parts/Pc/Hp">Hp</a></li>
          <li><a href="/templates/parts/Pc/Asus">Asus</a></li>
          <li><a href="/templates/parts/Pc/Acer">Acer</a></li>
          <li><a href="/templates/parts/Pc/Dell">Dell</a></li>
          <li><a href="/templates/parts/Pc/Macbook">Macbook</a></li>
          <li><a href="/templates/parts/Pc/Toshiba">Toshiba</a></li>
          <li><a href="/templates/parts/Pc/Samsung">Sumsung</a></li>
        </ul>   
      </li>
  
      <li>
        <a href="/templates/parts/Watches">Montres +</a>
        <ul>
          <li><a href="/templates/parts/Montres/Femme">Femme</a></li>
          <li><a href="/templates/parts/Montres/Homme">Homme</a></li>
          <li><a href="/templates/parts/Montres/Enfant">Enfant</a></li>
        </ul>
      </li>
  
      <li><a href="/templates/parts/Kitchen">Cuisine & Maison +</a>
        <ul>
          <li><a href="/templates/parts/Cuisine & Maison/four">four</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Micro-onde">Micro-onde</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/plaque">plaque</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Grille-pain">Grille-pain</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Cafetiere">Cafetiere</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Mixeur">Mixeur</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Machine a gaufre">Machine à gaufre</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Fridge">Fridge</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/machine a laver ">machine a laver </a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Bouilloires distributeurs d'eau">Bouilloires distributeurs d'eau</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Robot pâtissier">Robot pâtissier</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Aspirateur">Aspirateur</a></li>
          <li><a href="/templates/parts/Cuisine & Maison/Robot aspirateur">Robot aspirateur</a></li>
          <li><a href="/emplates/parts/Cuisine & Maison/Climatiseur">Climatiseur</a></li>
          <li><a href="/emplates/parts/Cuisine & Maison/Tv">Tv</a></li>
         
        </ul>
      </li>
  
      <li><a href="/templates/parts/Sécurité à domicile">Sécurité à domicile +</a>
        <ul>
          <li><a href="/templates/parts/Sécurité à domicile/système d'alarme ">système d'alarme </a></li>
          <li><a href="/templates/parts/Sécurité à domicile/caméra de surveillance ">caméra de surveillance </a></li>
          <li><a href="/templates/parts/Sécurité à domicile/caméra de bébé ">caméra de bébé </a></li>
        </ul>
      </li>
  
      <li><a href="/templates/parts/Audio et musique">Audio & musique +</a>
        <ul>
          <li><a href="/templates/parts/Audio & musique/Ecouteur">Ecouteur</a></li>
          <li><a href="/templates/parts/Audio & musique/Casque">Casque</a></li>
        </ul>
      </li>

      <li><a href="/templates/parts/Accessoires sportifs">Accessoires sportifs +</a>
        <ul>
          <li><a href="/templates/parts/Accessoires sportifs/Chronomètre">Chronomètre</a></li>
          <li><a href="/templates/parts/Accessoires sportifs/ Bracelet ">Bracelet </a></li>
        </ul>
      </li>
  
      <li><a href="/templates/parts/Phones">Téléphones +</a>
        <ul>
          <li><a href="/templates/parts/Phones/Oppo">Oppo</a></li>
          <li><a href="/templates/parts/Phones/Vivo">Vivo</a></li>
          <li><a href="/templates/parts/Phones/Sony">Sony</a></li>
          <li><a href="/templates/parts/Phones/Honor">Honor</a></li>
          <li><a href="/templates/parts/Phones/Redmi">Redmi</a></li>
          <li><a href="/templates/parts/Phones/Nokia">Nokia</a></li>
          <li><a href="/templates/parts/Phones/Apple">Apple</a></li>
          <li><a href="/templates/parts/Phones/Samsung">Samsung</a></li>
          <li><a href="/templates/parts/Phones/Huawei">Huawei</a></li>
          <li><a href="/templates/parts/Phones/Oneplus">Oneplus</a></li>
        </ul>
      </li>
      
    </ul>
  </nav>


</body>
</html>
