
  .menu-bar form label {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
    position: relative;
  }

  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  .menu-bar ul li:hover .dropdown-menu form {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu form label {
    width: 150px;
    padding: 10px;
  }
 